{% extends "base.html" %}
{% block user %} {{userperson}} {% endblock %}
{% block body %}
	<body>
		<style>
			.span4{
				font-family:sans-serif;
			}	

		</style>
		 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="/stylesheets/bootstrap.js"></script>
	<script type="text/javascript">

		
		function validate(frm){
			if(frm.password.value==frm.repassword.value){
				return true;	
			}else{
				document.getElementById("alert").text="Passwords Do Not Match";
				return false;
			}
		}
	</script>
			
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span8">
			<div class="hero-unit">
				<h1 style="color:#003333;"> Welcome to the Book Share Website! </h1>
				<p> We believe in mutual sharing.
					<br><br><a class="btn btn-large btn-success" href="#signin" role="button" data-toggle="modal">Sign In</a>
					<h3 style="color:#003333;">Connect with hundred of people willing to share. </h3>


			</div><!end of her0 unit !>
			</div>
				<div class="span4">
					<div class="well" style="width:250px;">
					<form method="POST" name="signup" onsubmit="return validate(this);">
						<legend style="font-family:Sans-Serif;">Sign Up! </legend>
						<p style="color:red;">{{message}}</p>
						<div class="form-group">

							<label for="inputUser">Username </label>
							<input type="hidden" name="process" value="signup">
							<input type="text" name='username'class="form-control" placeholder="Username" required/>
							<label for="inputEmail">Email  </label>
							<input type="email" name='email'class="form-control" placeholder="Email" required/>
							<label for="inputpass">Password</label>
							<input type="password" name='password'class="form-control" placeholder="Password" required/>
							<label for="repass">Password (confirm)</label><p id="alert" style="color:red"></p>
							<input type="password" name='repassword'class="form-control" placeholder="Confirm Password" required/>
							<br><br><button type="submit" class='btn btn-primary'> Sign Up </button>
						</div><! end of formgroup!>

					</form>
					</div>
				</div><! end of span4!>
			</div><! end of row!>
			<div class="row">
				{% for newbook in newbooks %}
				<div class="span3">
					<div class="well">
						
					</div>
				</div>
				{% endfor %}
			</div>
			
		</div><! end of container!>
		<div id="signin" class="modal hide fade" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
					<h3 id="modalLabel"> Sign In </h3>
				</div>
				<form method="POST" name="signin">
				<div class="modal-body">
					<p id="error" style="color:red;">{{error}}</p>
					
						<div class='controlrols controls-row'>
							<input type="hidden" name="process" value="signin">
							<input type="text"  class="span5"placeholder="Username" name="uname" required autofocus><br>
							<input type="password"   class="span5" placeholder="Password" name="pass" required><br><br>
							
						</div>
					
				</div>
				<div class="modal-footer">
					<button type="submit" class='btn btn-primary' name="login" style="float:right;">Login</button>
				</div>
				</form>

		</div>

{% endblock %}