
		
		{% extends "base.html" %}
		{% block body %}
		
		<div class="span12">
			<div class="row">
			<form method="post" >
				<table id="tbl" class="table table-bordered">
					<caption><strong><em> {{username}} 's WishList</em>t</strong></caption>
						<tr>

							<th>#</th>
							<th>Book Titles</th>
							<th>Author</th>
							<th>ISBN</th>
							<th>Comments</th>
							<th>StartDate</th>
							<th>EndDate</th>
							<th>Update</th>
							

						</tr>
						{% for everybook in book_list %}
						{% if everybook.iswish %}
							<tr>
								<td>1</td>
								<td>{{everybook.booktitle}}</td>
								<td>{{everybook.author}}</td>
								<td></td>
								<td></td>
								<td contenteditable="true"><input type="text" id='comment'></td>
								<td contenteditable="true"><input type="date" class='startdate'></td>
								<td contenteditable="true"><input type="date" class='enddate'></td>
								<td><button  id="button" class="btn btn-primary" style="display: visible;">Save</button></td>
							</tr>
						{% endif %}
						{% endfor %}
		
				</table>
			</div>
			<div class="row">
			<table class="table table-bordered">
			<caption><strong><em>{{username}} 's Inventory</em></strong></caption>
					<tr>

						<th>#</th>
						<th>Book Title</th>
						<th>Author</th>
						<th>ISBN</th>
						<th>Comments</th>
						<th>StartDate</th>
						<th>EndDate</th>
						<th>Update</th>
						

					</tr>
					{% for everybook in book_list %}
					{% if not everybook.iswish %}
						<tr>
							<td>1</td>
							<td>{{everybook.booktitle}}</td>
							<td>{{everybook.author}}</td>
							<td></td>
							<td></td>
							<td contenteditable="true"><input type="text" id='comment'></td>
							<td contenteditable="true"><input type="date"></td>
							<td contenteditable="true"><input type="date"></td>
							<td><button  id="button" class="btn btn-primary" style="display: visible;">Save</button></td>


						</tr>
						{% endif %}

					{% endfor %}

				</table>
				</form>
			</div>
		</div>
		{% endblock %}
