{% extends "base.html" %}
{% block user %} {{userperson}} {% endblock %}
{% block body %}



<br>
    <br>
    <br>
    <br>
  <center>
    
    <div class = "container">
    <h1>LOGIN</h1>

    <br><br>
  <form role="form" method = "POST">

  

  <div class="form-group">
    <br>
    <input type="email" placeholder = "Username" class="form-control" id="username" style="width: 300px;">
  </div>

  <div class="form-group">
    <br>
    <input type="password" placeholder = "Password" class="form-control" id="password" style="width: 300px;">
  </div>

  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  
  <br>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
<br>
<br><br>

</center>

  {% endblock %}
