<!DOCTYPE html>

<html lang="en-US">

<body> 
    <form id="form1" method = "post">

      <div class = "container">

        <div class = "row">
          
 
    <h2 align="center"> Login</h2>

        </div>
        <div class = "row">
          <div class = "col-lg-5">

    <table id="table1"; cellspacing="5px" cellpadding="5%"; align="center" border = "5">
       
    	<tr>
              <td  align="right" class="style1">Username</td>
              <td><input type="text" /></td>
       </tr>

       <tr>
              <td  align="right" class="style1">Password</td>
              <td><input type="text" /></td>
       </tr>
       
        <tr>
        <td> <input type="button" value="Submit" align="right"/>
        <td> <input type="button" value="Reset" />       
        </td>
        </tr>
</table> 
    </div>
      </div>
    
    </div>

    </form>
</body>

</html>