{% extends "base.html" %}
{% block user %} {{userperson}} {% endblock %}
{% block body %}

<div class="span12">
	<div class="row">
		{% if match %}
			We have found match for you.

		<div class="well">
			{% for everymatch in match %}
			<h3>{{ everymatch.booktitle }}</h3>
			<h3></h3>
			Contact <u> {{everymatch.user_wish}} </u>, for book exchange.
			<br><br> 
			Schedule A Meetup.
			<input type="date" name="date">
			<input type="time" name="time">
			<input list="meetup" name="venues">
			<datalist id="browsers">
  			<option value="Spence Hall">
  			<option value="Franklin Library">
  			<option value="Shane Hall">
  			<option value="New Liv">
  			<option value="sdf">
			</datalist>

			<button id="btn-schedule" class="btn btn-default">Schedule </button>
		</div>
		{% endfor %}
		{% endif %}

	</div>


</div>

{% endblock %}