{% extends "base.html" %}
{% block user %} {{userperson}} {% endblock %}
{% block body %}


    <br>
    <br>
    <br>
    <br>
  <center>


  <div class = "container">

    <h1>SIGN UP</h1>
  <form role="form" method = "POST">

  <div class="form-group">
    <br>
    <input type="text" placeholder = "Organization Name" class="form-control" id="org_name" style="width: 300px;">
  </div>

  <div class="form-group">
    <br>
    <input type="text" placeholder = "Username" class="form-control" id="username" style="width: 300px;">
  </div>

  <div class="form-group">
    <br>
    <input type="text" placeholder = "Location" class="form-control" id="location" style="width: 300px;">
  </div>

  <div class="form-group">
  <table>
      <tr>
        <td>  <input type="radio" name="catogery" value="animal" checked> </td>
        <td>  Animal Rights </td>
      </tr>
        <td>  <input type="radio" name="catogery" value="social"> </td>
        <td> Social Injustice </td>
      <tr>
      </tr>
      <tr>
        <td> <input type="radio" name="catogery" value="social"> </td>
        <td> Health Issues </td>
      </tr>
    </table>
  </div>


  <div class="form-group">
    <br>
    <input type="email" placeholder = "Email address" class="form-control" id="email" style="width: 300px;">
  </div>

  <div class="form-group">
    <br>
    <input type="text" placeholder = "Phone Contact" class="form-control" id="phone" style="width: 300px;">
  </div>

  <div class="form-group">
    <br>
    <input type="password" placeholder = "Password" class="form-control" id="password" style="width: 300px;">
  </div>

  <div class="form-group">
    <br>
    <input type="password" placeholder = "Re-enter Password" class="form-control" id="repassword" style="width: 300px;">
  </div>
  <br>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
<br>

</center>

{% endblock %}
