<!DOCTYPE html>

<html lang="en-US">

<body> 
    <form id="form1" method = "post">
    <div>              
    </div> 
    <h2 align="center"> Sign Up Form</h2>
    <table id="table1"; cellspacing="5px" cellpadding="5%"; align="center" border = "5">
       
    	<tr>
              <td  align="right" class="style1">Email Address</td>
              <td><input type="text" /></td>
       </tr>

       <tr>
              <td  align="right" class="style1">Password</td>
              <td><input type="text" /></td>
       </tr>

       <tr>
              <td  align="right" class="style1">Confirm Password</td>
              <td><input type="text" /></td>
       </tr>

       <tr>
              <td  align="right" class="style1">Company Name</td>
              <td><input type="text" /></td>
       </tr>

       <tr>
              <td  align="right" class="style1">Username</td>
              <td><input type="text" /></td>
       </tr>
       
        <tr>
        <td> <input type="button" value="Submit" align="right"/>
        <td> <input type="button" value="Reset" />       
        </td>
        </tr>
</table> 
    </form>
</body>

</html>