<!DOCTYPE html>

<html lang="en-US">

<body> 
    <form id="form1" method = "post">
    <div class = "container"> 
        <div class = "row">             
     
      <h2 align="center"> Sign Up Form</h2>

        </div>
            <div class = "row">

              <div class "col-lg-5">

                <table id="table1"; cellspacing="5px" cellpadding="5%"; align="center" border = "5">

                	<tr>
                          <td  align="right" class="style1">Email Address</td>
                          <td><input type="text" /></td>
                   </tr>

                   <tr>
                          <td  align="right" class="style1">Password</td>
                          <td><input type="text" /></td>
                   </tr>

                   <tr>
                          <td  align="right" class="style1">Confirm Password</td>
                          <td><input type="text" /></td>
                   </tr>

                   <tr>
                          <td  align="right" class="style1">First Name</td>
                          <td><input type="text" /></td>
                   </tr>

                   <tr>
                          <td  align="right" class="style1">Last Name</td>
                          <td><input type="text" /></td>
                   </tr>

                   <tr>
                          <td  align="right" class="style1">Username</td>
                          <td><input type="text" /></td>
                   </tr>

                   </div>

                   <div class = "row">
                      <div class = "col-lg-6">
                    <tr>
                    
                    <td> <input type="button" value="Submit" align="right"/>
                      </div>
                      <div class = "col-lg-6">
                    <td> <input type="button" value="Reset" /> 
                      </div>
                    </div>
                  </div> 

                    </td>
                    </tr>
             </div>
       </div>
</table> 
    </form>
</body>

</html>